
<div class=" content">
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
      <!-- / Subject Form section start -->
      <div class="card" *ngIf="displayForm">
        <div class="card-body">
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <!-- <h4 class="card-title">{{operation}} Record</h4> -->
                        <div class="card-body">

                            <form class="form" role="form" #form="ngForm" (ngSubmit)="processForm(e)">
                                <!-- <input type="hidden" [(ngModel)]="apiModel.id" name="id" /> -->
                                <h6 style="color:gray ;">Profile<hr></h6>
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="FullName"
                                                    [class.text-danger]="FullName.invalid && FullName.touched">Full Name
                                                </label><i class="text-danger">*</i>
                                                <input type="text" maxlength="50" id="FullName" name="fullName"
                                                    #FullName="ngModel" [(ngModel)]="apiModel.name"
                                                    [class.is-invalid]="FullName.invalid && FullName.touched"
                                                    class="form-control" placeholder="Enter Full FullName..." required>
                                                <div *ngIf="FullName.invalid && FullName.touched">
                                                    <small *ngIf="FullName.errors?.required" class="text-danger">Full Name is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Email"
                                                    [class.text-danger]="Email.invalid && Email.touched">Email
                                                </label><i class="text-danger">*</i>
                                                <input type="email" maxlength="50" id="Email" name="email" #Email="ngModel"
                                                    [(ngModel)]="apiModel.email"
                                                    [class.is-invalid]="Email.invalid && Email.touched"
                                                    class="form-control" placeholder="Enter Email..." required>
                                                <div *ngIf="Email.invalid && Email.touched">
                                                    <small *ngIf="Email.errors?.required" class="text-danger">Email is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="PhoneNumber"
                                                    [class.text-danger]="PhoneNumber.invalid && PhoneNumber.touched">Phone Number
                                                </label><i class="text-danger">*</i>
                                                <input type="text" maxlength="50" id="PhoneNumber" name="PhoneNumber"
                                                    #PhoneNumber="ngModel" [(ngModel)]="apiModel.phone_number"
                                                    [class.is-invalid]="PhoneNumber.invalid && PhoneNumber.touched"
                                                    class="form-control" placeholder="Enter Phone Number..." required>
                                                <div *ngIf="PhoneNumber.invalid && PhoneNumber.touched">
                                                    <small *ngIf="PhoneNumber.errors?.required" class="text-danger">Phone Number is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div>
 
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="DateOfBirth"
                                                    [class.text-danger]="DateOfBirth.invalid && DateOfBirth.touched">Date Of Birth
                                                </label><i class="text-danger">*</i>
                                                <input type="date" maxlength="50" id="DateOfBirth" name="DateOfBirth" #DateOfBirth="ngModel"
                                                    [(ngModel)]="apiModel.profile.dob"
                                                    [class.is-invalid]="DateOfBirth.invalid && DateOfBirth.touched"
                                                    class="form-control" placeholder="Enter Date Of Birth..." required>
                                                <div *ngIf="DateOfBirth.invalid && DateOfBirth.touched">
                                                    <small *ngIf="DateOfBirth.errors?.required" class="text-danger">Date Of Birth is
                                                        Required</small>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                               
                                 <!-- /*Groups Start*/ -->
                                <!-- <div class="form-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="GroupName"
                                                    [class.text-danger]="GroupName.invalid && GroupName.touched">Group Name
                                                </label><i class="text-danger">*</i>
                                                <select type="text" maxlength="50" id="group.id" name="group.name"
                                                    #GroupName="ngModel" [(ngModel)]="apiModel.group.name"
                                                    [class.is-invalid]="GroupName.invalid && GroupName.touched"
                                                    class="form-control" placeholder="Enter Group Name..."></select>
                                                 <div *ngIf="GroupName.invalid && GroupName.touched"> -->
                                                    <!-- <small *ngIf="GroupName.errors?.required" class="text-danger">Group ID is
                                                        Required</small> -->
                                                <!-- </div> 
                                            </div>
                                        </div>
 
                                        
                                    </div>
                                </div> -->

                                <div class="form-actions right mb-0 pb-0">
                                    <!-- <button type="button" class="btn btn-warning mr-1 btn-sm shadow-sm btn-small" (click)="hideForm()">

                                        Cancel
                                    </button> -->
                                    <button type="submit" class="btn btn-primary btn-sm shadow-sm btn-small" [disabled]="form.invalid">

                                        {{operation}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Subject Form section end -->
    <!-- <div class="card"> -->
      <!-- <div class="card-header">
          <h4 class="float-left mb-0 font-weight-bolder">
              <strong>List of Records</strong>
          </h4> -->
          <!-- <div class="float-right border-radius-lg">
              <button class="btn btn-gradient-primary btn-sm btn-small" rippleEffect (click)="addItem()">
                  <i  _ngcontent-tix-c35="" class="icon-simple-add tim-icons"></i>
                  <span class="d-none d-sm-inline-block">Add New
                      Record</span>
              </button>
         </div>   -->

    
      <!-- /.box-header -->
      <!-- <div class="card-content collapse show">
          <div class="card-body">
              <div class="table-responsive"> 
     

                     <dx-data-grid class="dx-card wide-card border border-danger border-50" [dataSource]="addUserResources"
                      [showBorders]="true" [visible]="true" placeholder="Search..." [showColumnLines]="true"
                      [showRowLines]="true" [rowAlternationEnabled]="true" keyExpr="id" [focusedRowEnabled]="true"
                      [focusedRowIndex]="0" [columnAutoWidth]="true" [allowColumnReordering]="true"
                      [allowColumnResizing]="true" [columnAutoWidth]="true" [columnHidingEnabled]=false>
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxi-column dataField="id" caption="ID"></dxi-column>
                      <dxi-column dataField="group.name" caption="Group Name"> </dxi-column>
                      <dxi-column dataField="fullName" caption="Full Name"></dxi-column>
                      <dxi-column dataField="email" caption="Email"> </dxi-column> 

                      <dxi-column type="buttons" fixed=true>
                      <dxi-button icon="edit" text="Edit" [onClick]="loadItem"></dxi-button>
                      <dxi-button icon="trash" text="Delete" [onClick]="deleteItem">
                      </dxi-button>
                      </dxi-column>
                  </dx-data-grid>
             </div>
          </div>
     </div>    -->
      <!-- end box-body -->
  <!-- </div> -->
    </div>
</div> 

</div>
</div>
</div>
</div> 